In [42]:
 import pandas as pd
 import numpy as np
 import nltk

 df = pd.read_csv("/content/reviews_for_classification.csv")

In [43]:
df

,name,country,date_time,stars,review_head,review_body
0,xxx xxx,GB,"Updated Apr 4, 2022",5,The best in all that matters,The best in all that matters! It's a great pla...
1,Javier Setovich,US,"Mar 8, 2022",5,Celsius Network ROCKS!,If you are looking for the best #HomeForCrypto...
2,Andrei Franco,VN,"Mar 23, 2022",1,I despise it so much,I despise it so much. Transferring to other wa...
3,Isai Garcia,US,"Feb 23, 2022",1,Worst customer service and worst…,Worst customer service and worst company to de...
4,Tyler McMurray,US,"Mar 22, 2022",5,Celsius is the BEST in Crypto,Celsius is the most transparent and responsive...
...,...,...,...,...,...,...
21961,Ujjval,US,"Dec 12, 2019",1,Worst service ever,Worst service ever. I was emailed to contact t...
21962,Corey,US,"Oct 15, 2019",5,Best banking service I ever had!,None
21963,Pat,US,"Sep 25, 2019",5,Preferred bank for over 25+ year,PNC has been my banking partner for over 25+ y...
21964,Robin,US,"Feb 13, 2019",5,My only most trusted bank in 11 years,"My only most trusted bank in 11 years, please ..."
21965,Raymond Ebbeler,US,"Nov 28, 2018",5,Ketiurah was helpful in setting up…,Ketiurah was helpful in setting up overdraft p...

In [44]:


# Tokenize the 'Text' column
df['review_head'] = df['review_head'].apply(lambda x: nltk.word_tokenize(x))

# Print the tokenized data
print(df['review_head'])

# Perform POS tagging
df['pos_tags'] = df['review_head'].apply(lambda x: nltk.pos_tag(x))

# Print the POS tagged data
print(df['pos_tags'])

0                   [The, best, in, all, that, matters]
1                          [Celsius, Network, ROCKS, !]
2                            [I, despise, it, so, much]
3               [Worst, customer, service, and, worst…]
4                  [Celsius, is, the, BEST, in, Crypto]
                              ...
21961                            [Worst, service, ever]
21962         [Best, banking, service, I, ever, had, !]
21963           [Preferred, bank, for, over, 25+, year]
21964    [My, only, most, trusted, bank, in, 11, years]
21965        [Ketiurah, was, helpful, in, setting, up…]
Name: review_head, Length: 21966, dtype: object
0        [(The, DT), (best, JJS), (in, IN), (all, DT), ...
1        [(Celsius, NNP), (Network, NNP), (ROCKS, NNP),...
2        [(I, PRP), (despise, VBP), (it, PRP), (so, RB)...
3        [(Worst, NNP), (customer, NN), (service, NN), ...
4        [(Celsius, NNP), (is, VBZ), (the, DT), (BEST, ...
                               ...
21961            [(Worst, NNP), (service, NN), (ever, RB)]
21962    [(Best, NNP), (banking, NN), (service, NN), (I...
21963    [(Preferred, NNP), (bank, NN), (for, IN), (ove...
21964    [(My, PRP$), (only, RB), (most, JJS), (trusted...
21965    [(Ketiurah, NNP), (was, VBD), (helpful, JJ), (...
Name: pos_tags, Length: 21966, dtype: object